@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap');

:root {
  --main-bg-color: #fff;
  --main-font: 'Roboto', 'Verdana', sans-serif;
}


body {
  font-family: var(--main-font) !important;
  font-weight: 400;
}

h1.lia-h1 {
  font-size: 5vw !important;
  margin-left: auto !important;
  margin-right: auto !important;
  font-weight: 600;
  font-family: var(--main-font) !important;
}

.h1 {
  font-size: 5vw !important;
  margin-left: auto !important;
  margin-right: auto !important;
  font-weight: 600;
  font-family: var(--main-font) !important;
}

.h2 {
  font-size: 5vw !important;
  margin-left: auto !important;
  margin-right: auto !important;
  font-weight: 600;
  font-family: var(--main-font) !important;
}

.lia-quote {
  border-radius: 10px !important;
}

/* 
.lia-toc .lia-toolbar {
  background: var(--main-bg-color) !important;
}

.lia-btn {
  background: var(--main-bg-color) !important;
  font-family: var(--main-font) !important;
  border-color: aquamarine !important;
  border-width: 2px !important;
}

.lia-input {
  background: var(--main-bg-color) !important;
  font-family: var(--main-font) !important;
}

.lia-active {
  background: var(--main-bg-color) !important;
}



.lia-accordion {
  background: var(--main-bg-color) !important;
  font-size: 12px !important;
  font-family: var(--main-font) !important;
}

.lia-accordion-dummy {
  background: var(--main-bg-color) !important;
  font-size: 12px !important;
  font-family: var(--main-font) !important;
}

.lia-quiz {
  border-color: var(--main-bg-color) !important;
  font-family: var(--main-font) !important;
}

.lia-link {
  font-family: var(--main-font) !important;
} 
*/

